{% extends './base.html'%}

{%block title%}Home{%endblock title%}



{%block body%}
<div class="d-flex justify-content-end align-items-center px-3">
    <h5 class="mb-0 me-3">{{ current_user.fullname }}</h5>
    <a class="btn btn-secondary" href="{{ url_for('logout') }}">Salir</a>
</div>

<hr class="my-4">
<h1>Listado de Productos</h1>
<hr class="my-4">

<div class="container-fluid px-3">
    <form action="/add" method="POST" class="mb-4">
        <div class="row mb-3">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="col-md-3">
                <input type="text" name="nombre" class="form-control"
                    placeholder="Nombre" required>
            </div>
            <div class="col-md-3">
                <input type="text" name="precio" class="form-control"
                    placeholder="Precio" required>
            </div>
            <div class="col-md-3">
                <input type="text" name="stock" class="form-control"
                    placeholder="Stock" required>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary w-100">Agregar producto</button>
            </div>
        </div>
    </form>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">PRECIO</th>
                <th scope="col">STOCK</th>
                <th scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {%for producto in productos%}
            <tr>
                <th scope="row">{{producto[0]}}</th>
                <td>{{producto[1]}}</td>
                <td>{{producto[2]}}</td>
                <td>{{producto[3]}}</td>
                <td>
                    <a href="/edit/{{ producto[0] }}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="/delete/{{ producto[0] }}" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


    
    <!-- Bootstrap 5 JS (opcional, solo si necesitas funcionalidades JS de Bootstrap) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
{%endblock body%}